# Question 1: 
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

# Answer: 
6

Initially a = 0
In every executed statement since b is defined as the function of the global variable

Function c takes a as a parameter and returns each time with increments 2

b() returns 2

b() returns 4

b() returns 6

So that a = 6

# Question 2:

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

# Answer:

In [2]:
def filelength(file):
    try:
        file=open(file)
        contents=file.read()
        file.close()
        print(len(contents))
    except:
        FileNotFoundError()
        print(f'{file} not found.')

filelength('FileLength.txt')
filelength('goodnewsLength.txt')

123
goodnewsLength.txt not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

In [5]:
class Marsupial(): #a class named Marsupial 
    def __init__(self):
        self.contents = [] #creating an ampty list to store contents
    
    def put_in_pouch(self,thing):
        self.contents.append(thing) #appending to contents
        
    def pouch_contents(self):
        return self.contents # this will return the contents of the list 
        
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [7]:
class kangaroo(Marsupial):#subclass of Marsupial that inherits all the Marsupial
    def __init__(self,x,y): #coordinates x and y of the Kangaroo object,
        Marsupial.__init__(self)
        self.y=y
        self.x=x
    def jump(self,dx,dy):
        self.x = self.x+dx
        self.y = self.y+dy
    def __str__(self):
        return 'I am a kangaroo located at coordinates({},{})'.format(self.x,self.y)
    
k=kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates(0,0)
I am a kangaroo located at coordinates(3,0)

# Question 4:
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [10]:
def collatz(x):
    if x==1:
        print(x)
        return
    elif x%2==0:
        print(x)
        collatz(x//2)#recursion
    else:
        print(x)
        collatz(3*x+1) #recursion
collatz(1)

collatz(10)

1
10
5
16
8
4
2
1

# Question 5:
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [11]:
def binary(n):
    x = str(n % 2)
    
    if n//2**1 > 0:
        x = x+binary(n//2**1) #Returns n with the bits shifted to the right same as n>>1
    return x

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# Question 6:
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [6]:
from html.parser import HTMLParser 

class HeadingParser(HTMLParser):#We create a subclass of HTMLParser
    indent = 0
    headerFlag = False
    
    
    def handle_starttag(self, tag, attrs): 
        
            #Each heading should be indented as follows:
            #an h1 heading should have ndentation 0, 
            #and h2 heading should have indentation 1, etc.
            #Test your implementation using w3c.html.
        if tag == "h1":
            self.headerFlag = True
            self.indent= 0
        elif tag == "h2":
            self.headerFlag = True
            self.indent= 1
        elif tag == "h3":
            self.headerFlag = True
            self.indent= 2
        elif tag == "h4":
            self.headerFlag = True
            self.indent= 3
        elif tag == "h5":
            self.headerFlag = True
            self.indent= 4
        elif tag == "h6":
            self.headerFlag = True
            self.indent= 5
        else:
            self.headerFlag = False
            self.indent= 0
    def handle_data(self, w3c_data):                
        if self.headerFlag: 
            to_indent = " "*self.indent
            print('{} {}'.format(to_indent,w3c_data))
    def handle_endtag(self, tag):
        if tag in ["h1","h2","h3","h4","h5","h6"]:
            self.headerFlag = False

infile = open("w3c.html")
content = infile.read()
infile.close()  
hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

# Question 7:
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.

In [15]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Parser(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.url_list = []

    def append_list(self):
        return self.url_list

    def handle_starttag(self, tags, attri):
        for head in attri:
            contents = urljoin(self.url, head[1])
            if contents[:4] == 'http': 
                self.url_list.append(contents)
indentation = 0
def webdir(url, distance, indentation):
   

    distance -= 1    
    print(indentation*'  ', url)         

    object = urlopen(url).read().decode()
    column = Parser(url)
    column.feed(object)
    url_link = column.append_list() 
 
    url_list = url_link
    indentation += 4

    for links in url_list:
        if distance < 0 or indentation < 0:
            return 1
        else:
            webdir(links, distance, indentation)
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0) #recursive function

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8:
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [11]:
import sqlite3
con = sqlite3.connect('priyankaa.db')
cur = con.cursor()

In [12]:
cur.execute("CREATE TABLE CITY_DATA (City text, Country text, Season text, Temperature float, Rainfall float)")
data=[('Mumbai','India','Winter',24.8, 5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]
for cities in data:
    cur.execute("INSERT INTO CITY_DATA VALUES (?,?,?,?,?)",cities)
    con.commit()

In [13]:
#a) All the temperature data.
cur.execute('SELECT Temperature FROM CITY_DATA')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [14]:
#b) All the cities, but without repetition.
cur.execute('SELECT DISTINCT City FROM CITY_DATA')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [15]:
#c) All the records for India.
cur.execute('SELECT * FROM CITY_DATA WHERE Country LIKE "India%"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [16]:
#d) All the Fall records.
cur.execute('SELECT * FROM CITY_DATA WHERE Season LIKE "Fall%"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [17]:
#e) The city, country, and season for which the average rainfall 
#is between 200 and 400 millimeters.

cur.execute('SELECT City, Country, Season FROM CITY_DATA WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [18]:
#f) The city and country for which the average Fall temperature is above 20 degrees, 
#in increasing temperature order.

cur.execute('SELECT City, Country,Temperature FROM CITY_DATA WHERE Temperature > 20 ORDER BY Temperature DESC')
cur.fetchall()

[('Mumbai', 'India', 28.4),
 ('Mumbai', 'India', 27.9),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.6),
 ('Mumbai', 'India', 24.8),
 ('Cairo', 'Egypt', 22.2),
 ('Cairo', 'Egypt', 20.7)]

In [19]:
#g) The total annual rainfall for Cairo.
cur.execute('SELECT SUM(Rainfall) AS RF, City FROM CITY_DATA WHERE City LIKE "Cairo" GROUP BY City')
cur.fetchall()

[(27.6, 'Cairo')]

In [20]:
#h) The total rainfall for each season.

cur.execute('SELECT SUM(Rainfall),Season FROM CITY_DATA GROUP BY Season')
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

# Question 9: 
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [27]:
lista = [word.upper() for word in words]
lista

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [28]:
listb = [word.lower() for word in words]
listb

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [29]:
listc = [len(word) for word in words] #the list of lengths of words in list words).
listc

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [30]:
listd = [(word.upper(),word.lower(),len(word)) for word in words]
listd

[('THE', 'the', 3),
 ('QUICK', 'quick', 5),
 ('BROWN', 'brown', 5),
 ('FOX', 'fox', 3),
 ('JUMPS', 'jumps', 5),
 ('OVER', 'over', 4),
 ('THE', 'the', 3),
 ('LAZY', 'lazy', 4),
 ('DOG', 'dog', 3)]

In [32]:
liste = [word for word in words if len(word)>=4]
liste

['quick', 'brown', 'jumps', 'over', 'lazy']